@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hilangkan spinner di Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

/* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* popup */
.popup {
  position: fixed;
  width: 15%;
  height: 5px;
  background-color: oklch(62.3% 0.214 259.815);
  border-radius: 5px;
  bottom: 3%;
  z-index: 100;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-slide {
  animation: slide 40s linear infinite;
}

/* Loading Screen */
.loading-screen {
  animation: fadeOut 0.5s ease 0.5s forwards;
}

.loading-screen__logo {
  animation: pulse 1s infinite;
}

.loading-screen__spinner {
  animation: spin 1s infinite linear;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.95);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

.strip {
  position: relative;
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.strip::before {
  content: '';
  background-color: oklch(62.3% 0.214 259.815);
  width: 0px;
  height: 1px;
  transition: width 0.5s ease-out;
}

.cardx:hover .strip::before {
  width: 300px;
}

.before-slide {
 transform: translateX(-1000px);
 opacity: 0;
}

.slide {
  transform: translateX(0px) !important;
  opacity: 1 !important;
}


.vision-title::after, .mission-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: oklch(62.3% 0.214 259.815);
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
}

.line::after {
  width: 0%;
  height: 1px;
  content: '';
  display: block;
  background-color: oklch(62.3% 0.214 259.815);
  transition: all 0.3s ease-in-out;
}

.gallery_content:hover .line::after {
  width: 100%;
}